<ion-content>
  <!-- Contenedor Flex para las tarjetas -->
  <div class="cards-container">
    <!-- Bucle para generar las tarjetas -->
    <ion-card *ngFor="let project of projects | searchFilter:searchText" button="true" routerLink="/release-freq/{{ project.name }}" style="border-radius: 15px;">
      <ion-card-header>
        <ion-card-title>{{ project.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="custom-ionic-col">
              <ion-icon aria-hidden="true" name="stopwatch-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col class="custom-ionic-col">
              <ion-icon aria-hidden="true" name="hourglass-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col class="custom-ionic-col">
              <ion-icon aria-hidden="true" name="hammer-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col class="custom-ionic-col">
              <ion-icon aria-hidden="true" name="bug-outline" size="large"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="custom-ionic-col">{{ project.metricA }}</ion-col>
            <ion-col class="custom-ionic-col">{{ project.metricB }}</ion-col>
            <ion-col class="custom-ionic-col">{{ project.metricC }}</ion-col>
            <ion-col class="custom-ionic-col">{{ project.metricD }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
