<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col> <!-- grafica -->
  
      </ion-col>
  
      <ion-col justify-content-center> <!-- dashboard -->
        <app-dashboard [projectTitle] = "project" ></app-dashboard>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" routerLink="/release-freq/{{project}}" selected="true">
      <ion-icon aria-hidden="true" name="stopwatch-outline"></ion-icon>
      <ion-label>Release frequency</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" routerLink="/lead-time/{{project}}">
      <ion-icon aria-hidden="true" name="hourglass-outline"></ion-icon>
      <ion-label>Lead time</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" routerLink="/time-repair/{{project}}">
      <ion-icon aria-hidden="true" name="hammer-outline"></ion-icon>
      <ion-label>Time to repair code</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" routerLink="/bug-issues-rate/{{project}}">
      <ion-icon aria-hidden="true" name="bug-outline"></ion-icon>
      <ion-label>Bug issues rate</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
