<ion-card class="dashboard" style="margin-top: 25px;">
  <ion-card-header *ngIf="project">
    <ion-card-title>{{ this.project.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>Previous month difference</ion-label>
      <ion-note slot="end" color="secondary" class="data-number">+2,5</ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Current value</ion-label>
      <ion-note slot="end" color="success" class="data-number">8,9</ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Best value (S2-2022)</ion-label>
      <ion-note slot="end" color="success" class="data-number">6,5</ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Worst value (S2-2021)</ion-label>
      <ion-note slot="end" color="danger" class="data-number">11,2</ion-note>
    </ion-item>

    <hr class="custom-hr" />

    <ion-item lines="none">
      <ion-label>Best global value (Stable Diffusion)</ion-label>
      <ion-note slot="end" color="success" class="data-number">5,4</ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Worst global value (TensorFlow)</ion-label>
      <ion-note slot="end" color="danger" class="data-number">14,6</ion-note>
    </ion-item>
  </ion-card-content>
</ion-card>